Repository Hirundo-io/hirundo-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-sync

pip-compile:
  name: compile requirements/requirements.txt
  entry: uv
  args:
  - pip
  - compile
  - -o
  - requirements/requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

pip-compile-dev:
  name: compile requirements/dev.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - dev
  - -o
  - requirements/dev.txt
  - -c
  - requirements/requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

pip-compile-pandas:
  name: compile requirements/pandas.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - pandas
  - -o
  - requirements/pandas.txt
  - -c
  - requirements/requirements.txt
  language: python
  additional_dependencies:
  - uv

pip-compile-polars:
  name: compile requirements/polars.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - polars
  - -o
  - requirements/polars.txt
  - -c
  - requirements/requirements.txt
  language: python
  additional_dependencies:
  - uv

pip-compile-docs:
  name: compile requirements/docs.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - docs
  - -o
  - requirements/docs.txt
  - -c
  - requirements/requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

pip-sync:
  name: sync
  entry: uv
  args:
  - pip
  - sync
  - requirements/dev.txt
  - requirements/docs.txt
  - requirements/pandas.txt
  - requirements/polars.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

Fix `Modality` -> `Domain` rename and ensure that `Domain` is always passed as speech with speech to text runs to avoid failures
  hirundo/__init__.py
  hirundo/dataset_qa.py
  on-prem/on_prem_audio_ar_test_notebook.ipynb
  on-prem/on_prem_audio_he_small_test_notebook.ipynb
  on-prem/on_prem_audio_he_test_notebook.ipynb
  on-prem/on_prem_audio_sanity_test_notebook.ipynb
  tests/speech-to-text/sanity_stt_git_test.py
  tests/speech-to-text/stt_git_test.py
Due: none

Fix incorrect Domain default value
  hirundo/dataset_qa.py
Due: none

Fix open vulnerabilities
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  requirements/pandas.txt
  requirements/polars.txt
  requirements/requirements.txt
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-sync

Fix `cleanup_test_artifacts.py` after merge with `main`
  scripts/cleanup_test_artifacts.py
Due: none

Clnt-57: Scheduled cleanup for test datasets (#131)
  .github/workflows/cleanup-test-artifacts.yaml
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  requirements/pandas.txt
  requirements/polars.txt
  requirements/requirements.txt
  scripts/cleanup_test_artifacts.py
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-sync

Fix bug in GitHub Actions workflow for cleaning up test artifacts (`.github/workflows/cleanup-test-artifacts.yaml`)
  .github/workflows/cleanup-test-artifacts.yaml
Due: none

Upgrade `uv` version used to 0.8.6 as per suggestion by Dependabot due to vulnerability fixes
  pyproject.toml
  requirements/dev.txt
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

Replace Safety scan (from SafetyCLI) GitHub Actions vulnerability scan with matrix run of `pip-audit`
  .github/workflows/safety-scan.yml
  .github/workflows/vulnerability-scan.yml
Due: none

Increase `HIRUNDO-API-VERSION` to v0.3
  hirundo/_headers.py
Due: none

bump version to 0.1.20
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

Fix PR creation in `create-release.yml` by fixing usage of `github.event.sender` by adding `.login`
  .github/workflows/create-release.yaml
Due: none

Drop `message` / "Release note" from `create-release.yml` GitHub Actions workflow since it doesn't support multi-line and it is easier to just edit the PR description manually
  .github/workflows/create-release.yaml
Due: none

Update CODEOWNERS to allow Eayar and Tamir Dishi to approve PRs with changes just to GitHub Actions workflows
  .github/CODEOWNERS
Due: none

Fix bugs found by Bugbot (thank you Cursor)
  .github/CODEOWNERS
  .github/workflows/create-release.yaml
Due: none

Rename all relevant places from `hirundo-client` or Hirundo client to `hirundo-python-sdk` and Hirundo Python SDK
  .github/workflows/deploy-docker-image.yaml
  .github/workflows/safety-scan.yml
  DEV_README.md
  README.md
  docs/index.rst
  hirundo/cli.py
  notebooks/Cancel_Dataset_QA_Run.ipynb
  notebooks/Create_BDD100k_dataset_AWS_S3.ipynb
  notebooks/Create_BDD100k_dataset_HuggingFace.ipynb
  notebooks/Create_cifar100_dataset_GCP.ipynb
  notebooks/Hirundo_Dataset_Optimization_S3.ipynb
  notebooks/Hirundo_QA_Dataset_HuggingFace.ipynb
  on-prem/on_prem_audio_sanity_test_notebook.ipynb
  on-prem/on_prem_test_notebook.ipynb
  on_prem_test_notebook.ipynb
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

Add domain and labeling type validations
  hirundo/dataset_qa.py
Due: none

Increase `HIRUNDO-API-VERSION` to v0.3 (#149)
  hirundo/_headers.py
Due: none

bump version to 0.1.21
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

Clnt-64: Migrate to `pip-audit` (#148)
  .github/workflows/cleanup-test-artifacts.yaml
  .github/workflows/safety-scan.yml
  .github/workflows/vulnerability-scan.yml
  pyproject.toml
  requirements/dev.txt
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

Change PyTest sanity and vulnerability scan checks to run on the merge group in the merge queue instead of on the pull request to reduce costs
  .github/workflows/pytest-sanity.yaml
  .github/workflows/vulnerability-scan.yml
Due: none

Add retry of 429 responses to requests with backoff
  hirundo/_http.py
  hirundo/_iter_sse_retrying.py
  hirundo/dataset_qa.py
  hirundo/git.py
  hirundo/storage.py
  hirundo/unzip.py
Due: none

Skip `pytest-sanity` tests run when changes are only in GitHub Actions workflows
  .github/workflows/pytest-sanity.yaml
Due: none

Fix lint running in `merge_group`
  .github/workflows/lint.yaml
Due: none

SDK-66: Change PyTest sanity & vulnerability scan checks to run on the merge group in the merge queue instead of on the pull request to reduce costs (#157)
  .github/workflows/lint.yaml
  .github/workflows/pytest-sanity.yaml
  .github/workflows/vulnerability-scan.yml
Due: none

SDK-65: Fix release GitHub Actions workflow (#152)
  .github/CODEOWNERS
  .github/workflows/create-release.yaml
Due: none

Add retry of 429 responses to requests with backoff (#159)
  hirundo/_http.py
  hirundo/_iter_sse_retrying.py
  hirundo/dataset_qa.py
  hirundo/git.py
  hirundo/storage.py
  hirundo/unzip.py
Due: none

Add domain and labeling type validations (#154)
  hirundo/dataset_qa.py
Due: none

Fix GitHub Actions preventing PR merge because checks do not run before `merge_group`
  .github/workflows/pytest-sanity.yaml
  .github/workflows/vulnerability-scan.yml
Due: none

Get Cursor's help (GPT-5) a little bit to fix the behavior properly
  .github/workflows/pytest-sanity.yaml
  .github/workflows/vulnerability-scan.yml
Due: none

Fix the GitHub Actions jobs not being run and this failing checks
  .github/workflows/pytest-sanity.yaml
  .github/workflows/vulnerability-scan.yml
Due: none

Fix PyTest sanity workflow running set up Python even though it doesn't actually run anything when no real code was changed
  .github/workflows/pytest-sanity.yaml
Due: none

SDK-68: Fix GitHub Actions preventing PR merge because checks do not run before `merge_group` (#161)
  .github/workflows/pytest-sanity.yaml
  .github/workflows/vulnerability-scan.yml
Due: none

Rename all relevant places from `hirundo-client` or Hirundo client to `hirundo-python-sdk` and Hirundo Python SDK (#153)
  .github/workflows/deploy-docker-image.yaml
  .github/workflows/vulnerability-scan.yml
  DEV_README.md
  README.md
  docs/index.rst
  hirundo/cli.py
  notebooks/Cancel_Dataset_QA_Run.ipynb
  notebooks/Create_BDD100k_dataset_AWS_S3.ipynb
  notebooks/Create_BDD100k_dataset_HuggingFace.ipynb
  notebooks/Create_cifar100_dataset_GCP.ipynb
  notebooks/Hirundo_Dataset_Optimization_S3.ipynb
  notebooks/Hirundo_QA_Dataset_HuggingFace.ipynb
  on-prem/on_prem_audio_sanity_test_notebook.ipynb
  on-prem/on_prem_test_notebook.ipynb
  on_prem_test_notebook.ipynb
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

bump version to 0.1.21 (#155)
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

Revert "bump version to 0.1.21 (#155)"
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

Revert "bump version to 0.1.21 (#155)" (#162)
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

Fix data preset for tests as `TEST-` and not `T-`
  scripts/cleanup_test_artifacts.py
  tests/get_by_name_test.py
Due: none

bump version to 0.1.21 (#155) (#164)
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

Path conditions:
  pip-compile: any of: pyproject.toml$
  pip-compile-dev: any of: pyproject.toml$
  pip-compile-pandas: any of: pyproject.toml$
  pip-compile-polars: any of: pyproject.toml$
  pip-compile-docs: any of: pyproject.toml$
  pip-sync: any of: requirements.txt$
