Repository Hirundo-io/hirundo-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-compile, pip-compile-dev, pip-sync-dev

.pre-commit-config.yaml:

repos:

- repo: local
  hooks:
  - id: pip-compile
    name: compile requirements.txt
    entry: pip-compile
    language: system
    always_run: false
    files: pyproject.toml$
    stages: [push]
  - id: pip-compile-dev
    name: compile dev-requirements.txt
    entry: pip-compile
    args: ["--extra", "dev", "-o", "dev-requirements.txt", "-c", "requirements.txt"]
    language: system
    always_run: false
    files: pyproject.toml$
    stages: [push]
  - id: pip-sync-dev
    name: sync dev-requirements.txt
    entry: pip-sync
    args: ["dev-requirements.txt"]
    language: system
    always_run: false
    files: dev-requirements.txt$
    stages: [push]

Ensure that `pip-tools` is in `dev-requirements.txt`
  dev-requirements.txt
Due: pip-sync-dev

Fix Ruff issues (both lint and format) & add check YAML & Ruff (lint & format) to `pre-commit`
  .pre-commit-config.yaml
  dev-requirements.txt
  hirundo/__init__.py
  hirundo/cli.py
  hirundo/constraints.py
  hirundo/dataset_optimization.py
  hirundo/git.py
  hirundo/headers.py
  hirundo/iter_sse_retrying.py
  hirundo/storage.py
  hirundo/timeouts.py
  pyproject.toml
  tests/classification/classification_aws_test.py
  tests/classification/classification_gcp_test.py
  tests/classification/sanity_gcp_test.py
  tests/dataset_optimization_shared.py
  tests/object-detection/od_aws_test.py
  tests/object-detection/od_git_test.py
  tests/object-detection/sanity_aws_test.py
Due: pip-compile, pip-compile-dev, pip-sync-dev

Fix incorrect type annotation
  hirundo/iter_sse_retrying.py
Due: none

Add `bumpver`
  pyproject.toml
Due: pip-compile, pip-compile-dev

Fix `pre-commit` configuration for `pip-tools`
  .pre-commit-config.yaml
  pyproject.toml
Due: pip-compile, pip-compile-dev

Drop unneeded version from `bumpver` & drop `types-setuptools` and run `pip-tools`'s `pip-compile` and `pip-sync` on commits since `pre-push` doesn't work
  .pre-commit-config.yaml
  dev-requirements.txt
  pyproject.toml
  requirements.txt
Due: pip-compile, pip-compile-dev, pip-sync-dev

Move `sphinx` to `docs` dependency group as suggested in their docs
  dev-requirements.txt
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-sync-dev

Fix conflict on `GitRepo` in tests
  tests/object-detection/od_git_test.py
Due: none

Try to fix Windows `pytest` error during run on GitHub Actions
  .github/workflows/pytest-sanity.yaml
Due: none

Increase timeouts to avoid fail on GitHub Actions CI/CD
  hirundo/timeouts.py
Due: none

Configure `bumpver`
  pyproject.toml
Due: pip-compile, pip-compile-dev

Don't upgrade `pip` on Windows. It causes permissions issues
  .github/workflows/pytest-sanity.yaml
Due: none

Try to force `pip` to specific version on Windows and install `dev-requirements` via `python -m` instead of `pip` directly
  .github/workflows/pytest-sanity.yaml
Due: none

Add caching to `pip` dependencies
  .github/workflows/pytest-full.yaml
  .github/workflows/pytest-sanity.yaml
Due: none

Add `deploy-to-pypi.yaml` GitHub Action to run after version tags are pushed
  .github/workflows/deploy-to-pypi.yaml
  .github/workflows/pytest-full.yaml
  .github/workflows/pytest-sanity.yaml
Due: none

Add documentation with Sphinx
  .pre-commit-config.yaml
  docs-requirements.txt
  docs/Makefile
  docs/_static/favicon.png
  docs/conf.py
  docs/hirundo.cli.rst
  docs/hirundo.dataset_optimization.rst
  docs/hirundo.enum.rst
  docs/hirundo.git.rst
  docs/hirundo.rst
  docs/hirundo.storage.rst
  docs/hirundo.timeouts.rst
  docs/index.rst
  docs/make.bat
  docs/modules.rst
  hirundo/cli.py
  hirundo/dataset_optimization.py
  hirundo/enum.py
  hirundo/storage.py
  pyproject.toml
Due: pip-compile, pip-compile-dev

Add `clean` command to fix `git worktree` for GitHub Pages
  docs/Makefile
Due: none

Docs improvements & rename private modules with underscore (`_`) in front to remove them from user namespace and docs
  docs/Makefile
  docs/conf.py
  docs/docs.yaml
  docs/hirundo.rst
  hirundo/_constraints.py
  hirundo/_env.py
  hirundo/_headers.py
  hirundo/_iter_sse_retrying.py
  hirundo/_timeouts.py
  hirundo/cli.py
  hirundo/dataset_optimization.py
  hirundo/git.py
  hirundo/storage.py
Due: none

Add GitHub Actions workflow to update the `docs`
  .github/workflows/update-docs.yaml
Due: none

Make sidebar start open on docs & drop unused `hirundo.timeouts` docs file
  docs/_static/open-sidebar.js
  docs/conf.py
  docs/hirundo.timeouts.rst
Due: none

Add `sphinx-multiversion` for multiple version support to `docs`
  .github/workflows/update-docs.yaml
  docs-requirements.txt
  docs/_templates/github-pages-redirect.html
  docs/_templates/sidebar/versions.html
  docs/conf.py
  pyproject.toml
Due: pip-compile, pip-compile-dev

Add `.safety-policy` to ensure that vulnerability scanning does not fail
  docs/.safety-policy.yml
Due: none

Move `.safety-policy.yml` to the correct location
  .safety-policy.yml
Due: none

Fix `pre-commit` version vulnerability error
  pyproject.toml
Due: pip-compile, pip-compile-dev

Switch to `uv` and fix issue with wrong path for `hirundo` package for GitHub Actions
  .pre-commit-config.yaml
  dev-requirements.txt
  docs-requirements.txt
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-sync-dev

Ensure that `venv` is activated for `sphinx-multiversion` command
  .github/workflows/update-docs.yaml
Due: none

Fix issue in GitHub Actions workflow that deploys documentation
  .github/workflows/update-docs.yaml
Due: none

Improve `README.md`
  README.md
Due: none

Check `git` information before running `sphinx-multiversion` to try to investigate issues
  .github/workflows/update-docs.yaml
Due: none

Specify PR branch (from `head_ref`) as `ref` instead of checking out a commit and thus fix `update-docs` GitHub Actions workflow
  .github/workflows/update-docs.yaml
Due: none

Ensure that `hirundo` package is installed before creating documentation
  .github/workflows/update-docs.yaml
Due: none

Fix docs issue with using `hirundo` client package
  .github/workflows/update-docs.yaml
Due: none

I forgot that YAML actually encodes `null` :'(
  .github/workflows/update-docs.yaml
Due: none

Fix documentation URL (moved now it is public)
  README.md
Due: none

Improve documentation by adding a lot of comment strings
  hirundo/dataset_optimization.py
  hirundo/git.py
  hirundo/storage.py
Due: none

Try to extend timeout again :/
  hirundo/_timeouts.py
Due: none

Fix PR comments
  .github/workflows/deploy-to-pypi.yaml
  README.md
  docs/_templates/github-pages-redirect.html
  hirundo/dataset_optimization.py
  hirundo/git.py
  hirundo/storage.py
Due: none

Fix bug in unique ID value for tag GitHub Actions CI/CD runs
  tests/classification/classification_aws_test.py
  tests/classification/classification_gcp_test.py
  tests/classification/sanity_gcp_test.py
  tests/object-detection/od_aws_test.py
  tests/object-detection/od_git_test.py
  tests/object-detection/sanity_aws_test.py
Due: none

Try to fix issue in `deploy-to-pypi` GitHub Actions pipeline
  .github/workflows/deploy-to-pypi.yaml
Due: none
