Repository Hirundo-io/hirundo-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-sync

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.4
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --show-fixes]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
    - id: pip-compile
      name: compile requirements/requirements.txt
      entry: uv
      args: ["pip", "compile", "-o", "requirements/requirements.txt"]
      language: python
      always_run: false
      files: pyproject.toml$
      additional_dependencies: [uv]
    - id: pip-compile-dev
      name: compile requirements/dev.txt
      entry: uv
      args: ["pip", "compile", "--extra", "dev", "-o", "requirements/dev.txt", "-c", "requirements/requirements.txt"]
      language: python
      always_run: false
      files: pyproject.toml$
      additional_dependencies: [uv]
    - id: pip-compile-pandas
      name: compile requirements/pandas.txt
      entry: uv
      args: ["pip", "compile", "--extra", "pandas", "-o", "requirements/pandas.txt", "-c", "requirements/requirements.txt"]
      language: python
      files: pyproject.toml$
      additional_dependencies: [uv]
    - id: pip-compile-polars
      name: compile requirements/polars.txt
      entry: uv
      args: ["pip", "compile", "--extra", "polars", "-o", "requirements/polars.txt", "-c", "requirements/requirements.txt"]
      language: python
      files: pyproject.toml$
      additional_dependencies: [uv]
    - id: pip-compile-docs
      name: compile requirements/docs.txt
      entry: uv
      args: ["pip", "compile", "--extra", "docs", "-o", "requirements/docs.txt", "-c", "requirements/requirements.txt"]
      language: python
      always_run: false
      files: pyproject.toml$
      additional_dependencies: [uv]
    - id: pip-sync
      name: sync
      entry: uv
      args: ["pip", "sync", "requirements/dev.txt", "requirements/docs.txt", "requirements/pandas.txt", "requirements/polars.txt"]
      language: python
      always_run: false
      files: requirements.txt$
      additional_dependencies: [uv]

Fix bad logger function call
  hirundo/dataset_optimization.py
Due: none

feat(CLNT-43): add unlearning run classes and typing
  hirundo/__init__.py
  hirundo/unlearning.py
  hirundo/unlearning_llm_behavior.py
  pyproject.toml
  uv.lock
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

Fix bug found by bugbot
  tests/dataset_optimization_shared.py
Due: none

Clnt-51: Fix tests by first cancelling runs before deleting datasets (#121)
  .github/workflows/create-release.yaml
  hirundo/dataset_optimization.py
  tests/dataset_optimization_shared.py
Due: none

Apply fixes to Misha's PR comments in Clnt-51 (PR #121)
  hirundo/dataset_optimization.py
  tests/dataset_optimization_shared.py
Due: none

Apply fixes to Misha's PR comments in Clnt-51 (PR #121) (#129)
  hirundo/dataset_optimization.py
  tests/dataset_optimization_shared.py
Due: none

Fix tests being unable to complete due to previous successful runs of the same datasets and the same run number
  .github/workflows/pytest-sanity.yaml
Due: none

Fix bug found by bugbot (thank you Cursor)
  .github/workflows/update-docs.yaml
Due: none

Try to manually release the documentation
  .github/workflows/update-docs.yaml
Due: none

Fix docs link and duplicate ruff & pyright icons in README
  README.md
Due: none

docs: add badges and docs link
  README.md
Due: none

Clnt-50: Try to manually release the documentation (#119)
  .github/workflows/pytest-sanity.yaml
  .github/workflows/update-docs.yaml
Due: none

bump version to 0.1.7
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

Clnt-57: improve cleanup script
  .github/workflows/cleanup-test-artifacts.yaml
  scripts/cleanup_test_artifacts.py
Due: none

Clnt-57: adjust cleanup script
  scripts/cleanup_test_artifacts.py
Due: none

Clnt-57: refine cleanup logic and restrict workflow permissions
  .github/workflows/cleanup-test-artifacts.yaml
  scripts/cleanup_test_artifacts.py
Due: none

fix cleanup logic
  scripts/cleanup_test_artifacts.py
Due: none

feature/Clnt-57-fix-cleanup-union
  .github/event_cleanup_test.json
  .github/workflows/cleanup-test-artifacts.yaml
  scripts/cleanup_test_artifacts.py
Due: none

Fix unsupported `|` syntax for `Union`
  scripts/cleanup_test_artifacts.py
Due: none

Revert "bump version to 0.1.7 (#116)"
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

Revert "bump version to 0.1.7 (#116)" (#134)
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

bump version to 0.1.18
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

created an until loop to solve the docs update
  .github/workflows/update-docs.yaml
Due: none

Add a step that can simulate a package being upload to test.pypi.org. Add a pull request being merged event for act
  .github/workflows/deploy-to-pypi.yaml
  .github/workflows/update-docs.yaml
  .gitignore
  act-events/pr.json
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  requirements/pandas.txt
  requirements/polars.txt
  requirements/requirements.txt
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-sync

change version to v0.1.19 to test with act an upload of a new version to test.pypi.org
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  requirements/pandas.txt
  requirements/polars.txt
  requirements/requirements.txt
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-sync

fix versions for testing ACT. comment some commands that can't be execute when using ACT. Add beginning of README
  .github/workflows/deploy-to-pypi.yaml
  .github/workflows/update-docs.yaml
  act-events/README.md
  act-events/pr.json
  act-events/pr.variables
Due: none

update versions to 0.1.20 to make the test
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs

exclude act secrets file
  .gitignore
Due: none

bring all back to beginning
  act-events/pr.json
Due: none

uncomments commands that didnt work with ACT
  .github/workflows/update-docs.yaml
  act-events/README.md
Due: none

Clnt-58: Fix update-docs pipeline after releasing new PyPI package (#137)
  .github/workflows/deploy-to-pypi.yaml
  .github/workflows/update-docs.yaml
  .gitignore
  act-events/pr.json
  act-events/pr.variables
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  requirements/pandas.txt
  requirements/polars.txt
  requirements/requirements.txt
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-sync

Drop unused `autoSearchPaths` which breaks things with `basedpyright` which we now use instead of `pyright`
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  requirements/pandas.txt
  requirements/polars.txt
  requirements/requirements.txt
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-sync

Add missing `permissions` from GitHub Actions workflows
  .github/workflows/lint.yaml
  .github/workflows/pytest-full.yaml
  .github/workflows/pytest-sanity.yaml
  .github/workflows/safety-scan.yml
Due: none

Fix vulnerabilities by increasing versions for various packages
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  requirements/pandas.txt
  requirements/polars.txt
  requirements/requirements.txt
Due: pip-compile, pip-compile-dev, pip-compile-pandas, pip-compile-polars, pip-compile-docs, pip-sync

Fix URLs for requests to fix dataset QA
  hirundo/dataset_optimization.py
  hirundo/unzip.py
Due: none

Fix advanced run arguments for dataset QA
  hirundo/__init__.py
  hirundo/dataset_optimization.py
  tests/object-detection/sanity_aws_test.py
Due: none

Rename all references to dataset / data optimization / optimization to dataset / data QA
  .github/workflows/pytest-full.yaml
  README.md
  docs/hirundo.dataset_optimization.rst
  docs/hirundo.rst
  hirundo/__init__.py
  hirundo/_constraints.py
  hirundo/cli.py
  hirundo/dataset_qa.py
  hirundo/dataset_qa_results.py
  hirundo/unzip.py
  notebooks/Cancel_Dataset_QA_Run.ipynb
  notebooks/Create_BDD100k_dataset_AWS_S3.ipynb
  notebooks/Create_BDD100k_dataset_HuggingFace.ipynb
  notebooks/Create_cifar100_dataset_GCP.ipynb
  notebooks/Hirundo_Dataset_Optimization_S3.ipynb
  notebooks/Hirundo_QA_Dataset_HuggingFace.ipynb
  on-prem/on_prem_audio_ar_test_notebook.ipynb
  on-prem/on_prem_audio_he_small_test_notebook.ipynb
  on-prem/on_prem_audio_he_test_notebook.ipynb
  on-prem/on_prem_audio_sanity_test_notebook.ipynb
  on-prem/on_prem_test_notebook.ipynb
  on_prem_test_notebook.ipynb
  tests/classification/classification_aws_test.py
  tests/classification/classification_gcp_test.py
  tests/classification/sanity_gcp_test.py
  tests/dataset_qa_shared.py
  tests/get_by_name_test.py
  tests/object-detection/od_aws_test.py
  tests/object-detection/od_git_test.py
  tests/object-detection/rockpaperscisssors_yolo_test.py
  tests/object-detection/sama_coco_test.py
  tests/object-detection/sanity_aws_test.py
  tests/speech-to-text/sanity_stt_git_test.py
  tests/speech-to-text/stt_git_test.py
Due: none
