Repository Hirundo-io/hirundo-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-compile, pip-compile-dev, pip-sync-dev, pip-compile-docs, pip-sync-docs

pip-compile:
  name: compile requirements.txt
  entry: uv
  args:
  - pip
  - compile
  language: python
  always_run: false
  additional_dependencies:
  - uv

pip-compile-dev:
  name: compile dev-requirements.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - dev
  - -o
  - dev-requirements.txt
  - -c
  - requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

pip-sync-dev:
  name: sync dev-requirements.txt
  entry: uv
  args:
  - pip
  - sync
  - dev-requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

pip-compile-docs:
  name: compile docs-requirements.txt
  entry: uv
  args:
  - pip
  - compile
  - --extra
  - docs
  - -o
  - docs-requirements.txt
  - -c
  - requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

pip-sync-docs:
  name: sync docs-requirements.txt
  entry: uv
  args:
  - pip
  - sync
  - docs-requirements.txt
  language: python
  always_run: false
  additional_dependencies:
  - uv

Keep private directory private
  .gitignore
Due: none

Add `modality` option to dataset for running `radar` and `EKG` datasets
  hirundo/dataset_optimization.py
Due: none

bump version to 0.1.9b1
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-docs

Add `esbonio` for docs requirements to enable previewing the docs in VSCode & fix `platformdirs` version for `dev` to enable installing both `docs` and `dev`
  dev-requirements.txt
  docs-requirements.txt
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-sync-dev, pip-compile-docs, pip-sync-docs

Clnt-42: Add support for dataset `augmentations` to `OptimizationDataset` (#101)
  .gitignore
  hirundo/dataset_optimization.py
  tests/classification/sanity_gcp_test.py
Due: none

Fix PR comments
  hirundo/__init__.py
  hirundo/dataset_optimization.py
  hirundo/enum.py
  hirundo/git.py
  hirundo/storage.py
Due: none

Add check on YOLO using `data_yaml_url` and `classes` (only allow one)
  hirundo/dataset_optimization.py
Due: none

Cleanup validation for `RunArgs` to ensure valid values
  hirundo/dataset_optimization.py
Due: none

Resolve missing type annotations PR comments (by Tomer)
  hirundo/storage.py
Due: none

Update docstring as per Tomer PR comment
  hirundo/dataset_optimization.py
Due: none

Rename `StorageIntegration` to `StorageConfig` and allow passing `ResponseStorageConfig` to `storage_config` when creating a dataset
  COPY on_prem_audio_ar_test_notebook.ipynb
  README.md
  docs/index.rst
  hirundo/__init__.py
  hirundo/_constraints.py
  hirundo/dataset_optimization.py
  hirundo/storage.py
  notebooks/Hirundo_Dataset_Optimization_HuggingFace.ipynb
  notebooks/Hirundo_Dataset_Optimization_S3.ipynb
  on_prem_audio_he_small_test_notebook.ipynb
  on_prem_audio_he_test_notebook.ipynb
  on_prem_audio_sanity_test_notebook.ipynb
  on_prem_test_notebook.ipynb
  tests/classification/classification_aws_test.py
  tests/classification/classification_gcp_test.py
  tests/classification/sanity_gcp_test.py
  tests/dataset_optimization_shared.py
  tests/get_by_name_test.py
  tests/object-detection/od_aws_test.py
  tests/object-detection/od_git_test.py
  tests/object-detection/sama_coco_test.py
  tests/object-detection/sanity_aws_test.py
  tests/speech-to-text/sanity_stt_git_test.py
  tests/speech-to-text/stt_git_test.py
Due: none

Rename also APIs for storage integration to storage config
  hirundo/storage.py
Due: none

Support change in `list_runs` API (no longer nesting `"datasets"` field)
  hirundo/dataset_optimization.py
Due: none

Change `run_optimization` argument name to `replace_dataset_if_exists` for greater clarity and update docstring
  hirundo/dataset_optimization.py
  tests/dataset_optimization_shared.py
Due: none

Support new dataset optimization run progress format
  hirundo/dataset_optimization.py
Due: none

Fix crashes on progress that does not have `:`
  hirundo/dataset_optimization.py
Due: none

Fix missing progress percentage
  hirundo/dataset_optimization.py
Due: none

Rename `StorageIntegration` to `StorageConfig` and allow passing `ResponseStorageConfig` to `storage_config` when creating a dataset
  README.md
  docs/index.rst
  hirundo/__init__.py
  hirundo/_constraints.py
  hirundo/dataset_optimization.py
  hirundo/storage.py
  notebooks/Hirundo_Dataset_Optimization_HuggingFace.ipynb
  notebooks/Hirundo_Dataset_Optimization_S3.ipynb
  on_prem_audio_ar_test_notebook.ipynb
  on_prem_audio_he_small_test_notebook.ipynb
  on_prem_audio_he_test_notebook.ipynb
  on_prem_audio_sanity_test_notebook.ipynb
  on_prem_test_notebook.ipynb
  tests/classification/classification_aws_test.py
  tests/classification/classification_gcp_test.py
  tests/classification/sanity_gcp_test.py
  tests/dataset_optimization_shared.py
  tests/get_by_name_test.py
  tests/object-detection/od_aws_test.py
  tests/object-detection/od_git_test.py
  tests/object-detection/sama_coco_test.py
  tests/object-detection/sanity_aws_test.py
  tests/speech-to-text/sanity_stt_git_test.py
  tests/speech-to-text/stt_git_test.py
Due: none

Update comments for minimum bbox sizes and areas
  hirundo/dataset_optimization.py
Due: none

Add YOLO sanity test
  tests/object-detection/rockpaperscisssors_yolo_test.py
Due: none

Add `debug: true` to Safety scan for vulnerabilities to try to understand issue
  .github/workflows/safety-scan.yml
Due: none

Upgrade dependency versions a little
  dev-requirements.txt
  docs-requirements.txt
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-sync-dev, pip-compile-docs, pip-sync-docs

Fix code vulnerability found by SafetyCLI
  .github/workflows/safety-scan.yml
  dev-requirements.txt
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-sync-dev, pip-compile-docs

Improve language in README.md
  README.md
Due: none

Improve missing dataset error string in `hirundo/dataset_optimization.py`
  hirundo/dataset_optimization.py
Due: none

PR comments fixes
  hirundo/storage.py
  notebooks/Hirundo_Dataset_Optimization_HuggingFace.ipynb
  notebooks/Hirundo_Dataset_Optimization_S3.ipynb
  on-prem/on_prem_audio_ar_test_notebook.ipynb
  on-prem/on_prem_audio_he_small_test_notebook.ipynb
  on-prem/on_prem_audio_he_test_notebook.ipynb
  on-prem/on_prem_audio_sanity_test_notebook.ipynb
  on-prem/on_prem_test_notebook.ipynb
Due: none

Clnt-30: API changes including dropping `StorageLink` and `path` -> `root` and new `get_by_id` and `get_by_name` APIs and Pydantic parsing (#82)
  .github/workflows/pytest-full.yaml
  README.md
  dev-requirements.txt
  docs-requirements.txt
  docs/_templates/github-pages-redirect.html
  docs/index.rst
  hirundo/__init__.py
  hirundo/_constraints.py
  hirundo/dataset_optimization.py
  hirundo/enum.py
  hirundo/git.py
  hirundo/storage.py
  notebooks/Cancel_Dataset_Optimization_Run.ipynb
  notebooks/Create_BDD100k_dataset_AWS_S3.ipynb
  notebooks/Create_BDD100k_dataset_HuggingFace.ipynb
  notebooks/Hirundo_Dataset_Optimization_HuggingFace.ipynb
  notebooks/Hirundo_Dataset_Optimization_S3.ipynb
  on-prem/on_prem_audio_ar_test_notebook.ipynb
  on-prem/on_prem_audio_he_small_test_notebook.ipynb
  on-prem/on_prem_audio_he_test_notebook.ipynb
  on-prem/on_prem_audio_sanity_test_notebook.ipynb
  on-prem/on_prem_test_notebook.ipynb
  on_prem_audio_ar_test_notebook.ipynb
  on_prem_audio_he_small_test_notebook.ipynb
  on_prem_audio_he_test_notebook.ipynb
  pyproject.toml
  tests/classification/classification_aws_test.py
  tests/classification/classification_gcp_test.py
  tests/dataset_optimization_shared.py
  tests/get_by_name_test.py
  tests/object-detection/od_aws_test.py
  tests/object-detection/od_git_test.py
  tests/object-detection/rockpaperscisssors_yolo_test.py
  tests/object-detection/sama_coco_test.py
  tests/object-detection/sanity_aws_test.py
  tests/speech-to-text/sanity_stt_git_test.py
  tests/speech-to-text/stt_git_test.py
Due: pip-compile, pip-compile-dev, pip-sync-dev, pip-compile-docs, pip-sync-docs

bump version to 0.1.9
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-docs

Support change of results of dataset optimization from plain text to temporary link to zip on GCS
  .pre-commit-config.yaml
  hirundo/__init__.py
  hirundo/_dataframe.py
  hirundo/_timeouts.py
  hirundo/dataset_optimization.py
  hirundo/dataset_optimization_results.py
  hirundo/unzip.py
  pyproject.toml
  requirements/dev-requirements.txt
  requirements/docs-requirements.txt
  requirements/pandas-requirements.txt
  requirements/polars-requirements.txt
  requirements/requirements.txt
Due: pip-compile, pip-compile-dev, pip-sync-dev, pip-compile-docs, pip-sync-docs

Rename requirements to something a little shorter and simpler
  .github/workflows/pytest-sanity.yaml
  .pre-commit-config.yaml
  requirements/dev.txt
  requirements/docs.txt
  requirements/pandas.txt
  requirements/polars.txt
Due: none

Fix test assertions when using polars
  tests/classification/classification_aws_test.py
  tests/classification/sanity_gcp_test.py
  tests/object-detection/rockpaperscisssors_yolo_test.py
  tests/object-detection/sama_coco_test.py
  tests/object-detection/sanity_aws_test.py
  tests/speech-to-text/sanity_stt_git_test.py
  tests/speech-to-text/stt_git_test.py
Due: none

Fix missed moving / renaming of `requirements` files
  .github/workflows/deploy-to-pypi.yaml
  .github/workflows/lint.yaml
  .github/workflows/pytest-full.yaml
  .pre-commit-config.yaml
  DEV_README.md
  requirements/dev.txt
Due: none

Fix `.env` (dotenv) handling when `.env` is not in the current folder, but a parent folder, e.g. `/notebooks`
  hirundo/_env.py
Due: none

Fix lint run
  .github/workflows/lint.yaml
Due: none

Path conditions:
  pip-compile: any of: pyproject.toml$
  pip-compile-dev: any of: pyproject.toml$
  pip-sync-dev: any of: dev-requirements.txt$
  pip-compile-docs: any of: pyproject.toml$
  pip-sync-docs: any of: docs-requirements.txt$
