Repository Hirundo-io/hirundo-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-compile, pip-compile-dev, pip-sync-dev, pip-compile-docs, pip-sync-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.2.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --show-fixes]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
    - id: pip-compile
      name: compile requirements.txt
      entry: uv
      args: ["pip", "compile"]
      language: python
      always_run: false
      files: pyproject.toml$
      additional_dependencies: [uv]
    - id: pip-compile-dev
      name: compile dev-requirements.txt
      entry: uv
      args: ["pip", "compile", "--extra", "dev", "-o", "dev-requirements.txt", "-c", "requirements.txt"]
      language: python
      always_run: false
      files: pyproject.toml$
      additional_dependencies: [uv]
    - id: pip-sync-dev
      name: sync dev-requirements.txt
      entry: uv
      args: ["pip", "sync", "dev-requirements.txt"]
      language: python
      always_run: false
      files: dev-requirements.txt$
      additional_dependencies: [uv]
    - id: pip-compile-docs
      name: compile docs-requirements.txt
      entry: uv
      args: ["pip", "compile", "--extra", "docs", "-o", "docs-requirements.txt", "-c", "requirements.txt"]
      language: python
      always_run: false
      files: pyproject.toml$
      additional_dependencies: [uv]
    - id: pip-sync-docs
      name: sync docs-requirements.txt
      entry: uv
      args: ["pip", "sync", "docs-requirements.txt"]
      language: python
      always_run: false
      files: docs-requirements.txt$
      additional_dependencies: [uv]

Fix GitHub Action `deploy-to-pypi.yaml`; It needs to set name & email to push tag to `git`
  .github/workflows/create-release.yaml
  .github/workflows/deploy-to-pypi.yaml
Due: none

bump version to 0.1.3b1
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-docs

Stop `deploy-to-pypi.yaml` from running on other PR merges
  .github/workflows/deploy-to-pypi.yaml
Due: none

Switch `pull_request_target` to `pull_request`
  .github/workflows/deploy-to-pypi.yaml
Due: none

Fix PR labels condition
  .github/workflows/deploy-to-pypi.yaml
Due: none

Add comment explaining retries as per Misha's PR comment
  hirundo/_iter_sse_retrying.py
Due: none

Fix GitHub Actions concurrency issues
  .github/workflows/lint.yaml
  .github/workflows/pytest-sanity.yaml
Due: none

Clnt-8: Fix publishing to pypi part 3 (#14)
  .github/CODEOWNERS
  .github/workflows/create-release.yaml
  .github/workflows/deploy-to-pypi.yaml
  .github/workflows/lint.yaml
  .github/workflows/pytest-sanity.yaml
  .github/workflows/safety-scan.yml
  .github/workflows/update-docs.yaml
  hirundo/__init__.py
  hirundo/_iter_sse_retrying.py
  pyproject.toml
  tests/classification/classification_aws_test.py
  tests/classification/classification_gcp_test.py
  tests/classification/sanity_gcp_test.py
  tests/object-detection/od_aws_test.py
  tests/object-detection/od_git_test.py
  tests/object-detection/sanity_aws_test.py
Due: pip-compile, pip-compile-dev, pip-compile-docs

bump version to 0.1.3
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-docs

Hopefully this is the last of this
  .github/workflows/deploy-to-pypi.yaml
Due: none

bump version to 0.1.3b2
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-docs

Clnt-11: Fix publishing to PyPI (part 4) (#34)
  .github/workflows/deploy-to-pypi.yaml
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-docs

Fix docs GitHub Action not running and redirect to correct latest version tag for docs
  .github/workflows/update-docs.yaml
  docs/_templates/github-pages-redirect.html
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-docs

Fix docs GitHub Action not running and redirect to correct latest version tag for docs (#38)
  .github/workflows/update-docs.yaml
  docs/_templates/github-pages-redirect.html
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-docs

bump version to 0.1.4
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-docs

Fix CODEOWNERS
  .github/CODEOWNERS
Due: none

Fix CODEOWNERS (#43)
  .github/CODEOWNERS
Due: none

Fix GitHub Actions docs publishing action
  .github/workflows/update-docs.yaml
Due: none

Fix GitHub Actions docs publishing action (#45)
  .github/workflows/update-docs.yaml
Due: none

bump version to 0.1.5
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-docs

Fix install `hirundo` from PyPI during docs generation GitHub Actions workflow
  .github/workflows/update-docs.yaml
Due: none

Fix install `hirundo` from PyPI during docs generation GitHub Actions workflow (#48)
  .github/workflows/update-docs.yaml
Due: none

Load dataset optimization results CSV to Pandas DataFrame
  dev-requirements.txt
  docs-requirements.txt
  hirundo/dataset_optimization.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-sync-dev, pip-compile-docs, pip-sync-docs

Add "TEST-" prefix to all dataset optimization dataset tests
  tests/classification/classification_aws_test.py
  tests/classification/classification_gcp_test.py
  tests/classification/sanity_gcp_test.py
  tests/object-detection/od_aws_test.py
  tests/object-detection/od_git_test.py
  tests/object-detection/sanity_aws_test.py
Due: none

Fix Ruff lint issue with Python 3.9 and 3.10
  hirundo/dataset_optimization.py
Due: none

Fix truth error on `DataFrame` error
  tests/classification/classification_aws_test.py
  tests/classification/classification_gcp_test.py
  tests/classification/sanity_gcp_test.py
  tests/object-detection/od_aws_test.py
  tests/object-detection/od_git_test.py
  tests/object-detection/sanity_aws_test.py
Due: none

Force specific pandas version & ensure that `requirements.txt` is updated properly
  .pre-commit-config.yaml
  dev-requirements.txt
  docs-requirements.txt
  pyproject.toml
  requirements.txt
Due: pip-compile, pip-compile-dev, pip-sync-dev, pip-compile-docs, pip-sync-docs

Ensure that `cython` is installed for PyPy builds
  .github/workflows/pytest-sanity.yaml
  README.md
Due: none

Drop PyPy support
  .github/workflows/pytest-sanity.yaml
  README.md
Due: none

Clnt-16: Load dataset optimization results to DataFrame (#50)
  .github/workflows/pytest-sanity.yaml
  .pre-commit-config.yaml
  README.md
  dev-requirements.txt
  docs-requirements.txt
  hirundo/dataset_optimization.py
  pyproject.toml
  requirements.txt
  tests/classification/classification_aws_test.py
  tests/classification/classification_gcp_test.py
  tests/classification/sanity_gcp_test.py
  tests/object-detection/od_aws_test.py
  tests/object-detection/od_git_test.py
  tests/object-detection/sanity_aws_test.py
Due: pip-compile, pip-compile-dev, pip-sync-dev, pip-compile-docs, pip-sync-docs

bump version to 0.1.6
  docs/_templates/github-pages-redirect.html
  hirundo/__init__.py
  pyproject.toml
Due: pip-compile, pip-compile-dev, pip-compile-docs

Fix bug in Hirundo CLI
  hirundo/_env.py
  hirundo/_headers.py
  hirundo/cli.py
  hirundo/dataset_optimization.py
  hirundo/git.py
  hirundo/storage.py
Due: none
